body{
    background-color: #eee;
}

p{
    color: #333fff;
    text-align: center;
    text-decoration: underline;
    line-height: 2;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
    font-family: sans-serif;
    font-size: 1.4em;
    font-style: italic; 
    font-weight: 800;       
} 

a{
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 5px;
    background-color: #f00;
    padding: 10px;
    border-radius: 5px;
    border: solid 1px;
}
a:link{
    color: hotpink;
}
a:visited{
    color: blue;
}
a:hover{
    color: #fff;
    text-decoration: underline;
    background-color: #000;
}
a:active{
    color: black;
}

